<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>98fmplayersdl</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.takamichih.98fmplayersdl</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>PMD music file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.github.takamichih.98fmplayer.pmd</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>PLAY6 music file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.github.takamichih.98fmplayer.play6</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeName</key>
        <string>FMP music file</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>com.github.takamichih.98fmplayer.fmp</string>
        </array>
      </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.pmd</string>
        <key>UTTypeDescription</key>
        <string>PMD music file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>m</string>
            <string>m2</string>
            <string>mz</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.fmp</string>
        <key>UTTypeDescription</key>
        <string>FMP music file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>opi</string>
            <string>ovi</string>
            <string>ozi</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.play6</string>
        <key>UTTypeDescription</key>
        <string>PLAY6 music file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>m26</string>
            <string>m86</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.pmdadpcm</string>
        <key>UTTypeDescription</key>
        <string>PMD ADPCM file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>ppc</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.pmdpcm</string>
        <key>UTTypeDescription</key>
        <string>PMD PCM file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>p86</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.fmpadpcm</string>
        <key>UTTypeDescription</key>
        <string>FMP/PPZ8 ADPCM file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>pvi</string>
          </array>
        </dict>
      </dict>
      <dict>
        <key>UTTypeIdentifier</key>
        <string>com.github.takamichih.98fmplayer.ppz8pcm</string>
        <key>UTTypeDescription</key>
        <string>PPZ8 PCM file</string>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.data</string>
        </array>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>pzi</string>
          </array>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
